*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/pexels-markusspiske-126790.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.navbar{
    background: linear-gradient(90deg, rgba(255,255,255,0.5046393557422969) 0%, rgba(0,0,0,0.4990371148459384) 100%) !important;
    border-bottom:1px solid black ;
}
header> nav ul{
    position: absolute;
    left: 60%;
    gap: 80px;
}
header> nav ul > li > a {
    color: white !important;
}
.one{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.507);
    box-shadow: -1px 4px 18px 0px rgba(0,0,0,0.75);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    width: 30%;
    height: 80%;
    top: 10%;
    left: 2%;
}
.one > ul > video{
    width: 350px;
}
.one > ul > li > a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.one > h1{
    margin-left: 40%;
    font-size: 30px;
}
.one > ul > p{
font-size: 12px;
}
.one > ul > p > span{
font-size: 14px;
}
article{
    position: absolute;
    top: 10%;
    left: 33%;
    width: 65%;
    height: 80%;
    columns: 2;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    padding: 3%;
    border: 1px solid black;
    border-radius: 20px;
}
.carousel-inner img{
    width: 200px;
    height: 300px;
}
footer{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 95%;
    background: linear-gradient(260deg, rgba(255,255,255,0.5046393557422969) 0%, rgba(0,0,0,0.4990371148459384) 100%) !important;
    border-top:1px solid black ;
}
footer > h5{
    color: white;
}
footer > h4{
    position: absolute;
    top: 0px;
    left: 70%;
    color: black;
}